.fileInput {
	display: none;
}

#fileUpload {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 50px;
}

.content {
	display: flex;
	flex-direction: row;
}

.flexCol {
	display: flex;
	flex-direction: column;
}

#selectFileBtn {
	height: 100px;
	width: 90%;
	font-family: 'Kanit';
	font-size: 20px;
	margin:auto;
}

#uploadBtn {
	height: 100px;
	width: 90%;
	font-family: 'Kanit';
	font-size: 20px;
	margin: auto;
	margin-top: 10px;
}

#imageDisplay {
	width: 324px;
	margin: auto;
	margin-top: 10px;
}

.image {
	width: 100%;
}

#selectFile {
	width: 30%;
}

#imageDisplay {
	width: 30%;
}

#result {
	width: 30%;
	margin: auto;
	margin-top: 50px;
}

#imageScore {
	width: 70%;
	border: 1px solid black;
	border-radius: 2px;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
	font-weight: bold;
	margin-top: 10px;
}

#morphed {
	width: 70%;
	border: 1px solid black;
	border-radius: 2px;
	height: 80px;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin-top: 10px;
}

@media only screen and (max-width: 700px) {
	.content {
		display: flex;
		flex-direction: column;
	}

	#selectFile {
		width: 100%;
		text-align: center;
	}

	#fileUpload {
		width: 100%;
	}

	#imageDisplay {
		width: 50%;
	}

	#result {
		width: 80%;
		margin: auto;
		margin-top: 10px;
		align-items: center;
	}
}