<div class="content">
	<div id="selectFile">
		<div class="fileInput">
			<label for="file">Choose File</label>
			<input type="file"
				id="file"
				(change)="fileChange($event)"
				#fileInput>
		</div>

		<div id="fileUpload"> 
			<button id="selectFileBtn"
			(click)="fileInput.click()">
			{{ filename ? "Select Another Image" : "Select Image" }}
			</button>
			<button type="button" id="uploadBtn" (click)="uploadFile()">
				Test Morphing Attack
			</button>
		</div>
	</div>

	<div *ngIf="filename" id="imageDisplay">
		<p>{{ filename }}</p>
		<img src="{{imgUrl}}" class="image" alt="{{filename}}">
	</div>

	<div id="result">
		<div *ngIf="uploaded">
			Image uploaded!
		</div>

		<div *ngIf="image_score">
			Morphing attack likelihood:<br>
			<div id="imageScore">{{ image_score*100 | number: '1.0-2' }}%</div>
		</div>
	</div>
</div>